body {
  text-align: center;
  color: white;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  font-size: 20px;
}

#heading {
  font-size: 32px;
  font-family: 'Times New Roman', sans-serif;
}

button {
  background-color: transparent;
  background: transparent;
  color: white;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#buy {
  border: white 5px solid;
  font-size: 20px;
  padding: 10px;
}

#cancelredirect {
  border: white 2px solid;
  font-size: 15px;
  padding: 5px;
}

#redirectlink, #domainname {
  text-decoration: underline;
}